<html>
<link rel="stylesheet" href="/CSS/footer.css">

<footer class="footer-distributed mt-5">

	<div class="footer-right">

		<a href="#"><i class="bi bi-facebook"></i></a>
		<a href="#"><i class="bi bi-twitter"></i></a>
		<a href="#"><i class="bi bi-linkedin"></i></a>
		<a href="#"><i class="bi bi-github"></i></a>

	</div>

	<div class="footer-left">

		<p class="footer-links">
			<a class="link-1" href="#">Home</a>

			<a href="#">Vagas</a>

			<a href="#">Quem Somos</a>

			<a href="#">FAQ</a>

			<a href="#">Contato</a>
		</p>

		<p>InclusiPro &copy; 2023</p>
	</div>

</footer>

</html>