<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/perfil.css">
    <title>Perfil</title>
  </head>
  <body>
	  <div th:replace="~{components/header}"></div>

	  <main>
		  
		  <div class="container">
			  
			  <div class="perfil-information">
			  	<div class="wallpaper">
					  
				</div>
				
				<div class="perfil-photo">
					<img src="./Medias/PNG/perfil_photo.png">
				</div>  
			  </div>
			  
			  <div class="perfil-status">
				  
				  <div class="username">
					  <p>Cristian Nascimento Maurício</p>
				  </div>
				  
				  <div class="status">
					  <p>Programador FULL STACK | HTML | CSS | JAVASCRIPT | REACT JS | 
						  JAVA WEB | SPRING BOOT | Desenvolvedor aplicativo móbile | JAVA | KOTLIN 
						  | Técnico de telecomunicações</p>
				  </div>
				  
				  <div class="information">
					  <p>Petrópolis, Rio de Janeiro, Brasil</p>
				  </div>
				  
			  </div>
			  
			  <div class="perfil-experience">
				  <div class="jobs">
					  <div class="jobs-title">
						  <p>Trabalhos:  </p>
					  </div>
					  
					  <div class="my-jobs">
						  
						  <div class="my-job">
							  
							  <div class="company">
								  <p>Empresa generica</p>
							  </div>
							  
							  <div class="work">
								  <p>Full Stack</p>
							  </div>
							  
							  <div class="date">
								  <p>2020 -  2022</p>
							  </div>
						  </div>
						  
					  </div>
					  
				  </div>
				  
				  <div class="skills">
						  
						  <div class="skill-title">
							  <p>skills: </p>
						  </div>
						  
						  <div class="my-skills">
							  
								 <div class="my-skill">
								  
								  <div class="company">
									  <p>Empresa generica</p>
								  </div>
								  
								  <div class="course">
									  <p>Full Stack</p>
								  </div>
								  
								  <div class="date">
									  <p>2020 -  2022</p>
								  </div>
							  
						  	</div>
						  	
						  </div>
						  
					</div>
				  
			  </div>
			  
		  </div>
		  
	  </main>
	  
	  <div th:replace="~{components/footer}"></div>

  </body>
</html>