<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../CSS/register-information.css">
    <script src="../JS/register-information.js" defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register information</title>
  </head>
  <body>
	  
	<div class="container">
		
		<div class="title">
			<p>Ensire as suas informações</p>
		</div>
		
		<div class="username">
			<p>Coloque o seu nome  completo</p>
			<input type="text" placeholder="Nome Completo">
		</div>
		
		<div class="date">
			<p>Ensire a sua data de nascimento</p>
			<input type="date">
		</div>
		
		<div class="status">
			<p>Ensire um resumo sobre você</p>
			<textarea></textarea>
			
		</div>
		
		<div class="container-skill">
			<p>Ensire as suas skills</p>
			
			<div class="button-add">
				<button id="add-skill">
					<img src="../Medias/PNG/mais.png">					
				</button>
			</div>
			
			<div class="my-skills">
				<div class="skill">
					<input class="course" placeholder="Curso">
					<input class="funcation" placeholder="Tipo do curso">
					<input type="date" class="date-start">
					<input type="date" class="date-end">
				</div>
			</div>
			
		</div>
		
		<div class="container-job">
			<p>Ensire os seus empregos</p>
			<div class="button-add">
				<button id="add-job">
					<img src="../Medias/PNG/mais.png">
				</button>
			</div>
			
			<div class="my-jobs">
				<div class="job">
					<input class="work" placeholder="Trabalho">
					<input class="funcation" placeholder="Tipo do trabalho">
					<input type="date" class="date-start">
					<input type="date" class="date-end">
				</div>
			</div>
			
		</div>
	
	</div>

  </body>
</html>
  