<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="CSS/register.css">
    <script src="JS/register.js" defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
  </head>
  <body>
	  <div class="container">
		  <form id="form">
			  
			<div class="title">
				<p>Cadastro</p>
			</div>
			
			<div class="container-data">
				<div class="container-img">
					<img src="./Medias/PNG/username.png">
				</div>
				
				<div class="container-input">
					<input id="email">
				</div>
			</div>
			
			<div class="container-data">
				<div class="container-img">
					<img src="./Medias/PNG/password.png">
				</div>
				
				<div class="container-input">
					<input id="password">
				</div>
			</div>
			
			<div class="container-data">
				<div class="container-img">
					<img src="./Medias/PNG/password.png">
				</div>
				
				<div class="container-input">
					<input id="password2">
				</div>
			</div>
			
			<div class="container-button">
				<button type="submit">Enviar</button>
			</div>
			
		  </form>
	  </div>
  </body>
</html>